DB_ENGINE=django.db.backends.postgresql
DB_NAME=YOUR_DB_NAME
POSTGRES_USER=YOUR_PSQL_USERNAME
POSTGRES_PASSWORD=YOUR_PSQL_PASSWORD
DB_HOST=YOUR_DB_CONTAINER_NAME
DB_PORT=5432
SECRET_KEY='YOUR_SECRET_KEY'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,backend,YOUR_IP_ADDRESS,YOUR_DOMAIN_NAME
